.u-hidden {
    display: none !important;
}

.u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;

    &.u-focusable:active,
    &.u-focusable:focus {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
        clip: auto;
        white-space: inherit;
    }
}

.u-invisible {
    visibility: hidden;
}

.u-display--block {
    display: block !important;
}

.u-rounded {
    border-radius: 50%;
    overflow: hidden;

    svg {
        position: relative;
        top: -1px;
        left: 2px;
    }
}

.u-page-title {
    margin-bottom: 2em;
}

.u-padding-v {

    &--md {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &--large {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @media (min-width: 977px) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
}