// src/scss/04-elements/_a.scss

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    // Semplice underline solo al passaggio del mouse per link nel testo
    p & {
        text-decoration: underline;
        text-underline-offset: 2px;

        &:hover {
            color: var(--color-red);
        }
    }
}