@use '../base/variables' as *;
@use '../base/colors' as *;

// 1. Base Text
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.main-content {
    font-size: clamp(1.375rem, 2vw, 1.5rem);
    line-height: 1.4;
    overflow-wrap: break-word;
}

p {
    margin-bottom: 1rem;
}

// 2. Headings Base
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headings; // Bebas Neue come definito nelle variabili
    margin: 0 0 0.3em;
    line-height: 1.1; // Ridotto per un look più "impattante"
    font-weight: 400; // Bebas Neue non ha bisogno di 700 per essere bold
}

// 3. Titoli con classi (BEM)
.h {

    // Look "Fucked Caps" ispirato a Extinction Rebellion
    &--caps {
        font-family: $font-family-headings;
        text-transform: uppercase;
        line-height: 0.9; // Righe quasi sovrapposte
        letter-spacing: -0.03em; // Lettere molto strette tra loro
        display: block; // Utile per gestire meglio i margini dei titoli massicci
    }

    &--1 {
        // Fluido tra 55px e 75px
        font-size: clamp(3.4375rem, 8vw, 4.6875rem);
    }

    &--2 {
        // Fluido tra 40px e 55px
        font-size: clamp(2.5rem, 6vw, 3.4375rem);
    }

    &--3 {
        // Fluido tra 33px e 35px
        font-size: clamp(2.0625rem, 4vw, 2.1875rem);
    }

    &--center {
        text-align: center;
    }
}