@use '../01-settings/variables' as *;
@use '../01-settings/colors' as *;

.c-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    padding: 0;

    &__content {
        height: 100%;
        width: 100%;
    }

    picture,
    figure {
        height: 100%;
        width: 100%;
        margin: 0;
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        display: block;
        filter: brightness(0.75);
    }

    &__overlay {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(5, 4, 68, 0.2);
        text-align: center;
    }

    &__body {
        max-width: 900px;
        width: 100%;
        display: flex;
        padding-top: 4rem;

        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        h1,
        .c-hero__title {
            font-size: 5rem;
            margin-bottom: 1.5rem;
            text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
            width: 100%;
            text-align: center;
            line-height: 1.1;
        }

        .c-hero__description {
            margin-bottom: 2rem;
            width: 100%;
            text-align: center;

            p {
                font-size: 1.4rem;
                background: var(--color-red);
                color: var(--color-white);
                display: inline-block;
                padding: 0.4rem 0.8rem;
                line-height: 1.6;
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
            }
        }

        .c-hero__actions {
            display: flex;
            justify-content: center;
            width: 100%;

            .c-btn-donate {
                font-size: 1.4rem;
                padding: 0.4em 1.2em;
            }
        }
    }
}