// src/scss/06-components/_c-links.scss
@use '../01-settings/colors' as *;

.c-link-arrow {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-heading);
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $color-red;
    text-decoration: none;
    font-weight: 800;
    transition: color 0.3s ease;

    &::after {
        content: '→';
        margin-left: 0.5rem;
        transition: transform 0.3s ease;
    }

    &:hover {
        color: $color-blue;

        &::after {
            transform: translateX(5px);
        }
    }
}