// src/scss/06-components/_c-quote.scss
@use '../01-settings/variables' as *;
@use '../01-settings/colors' as *;

.c-quote {
    &__text--primary {
        font-family: var(--font-heading);
        font-size: clamp(2.5rem, 8vw, 5rem);
        line-height: 0.85;
        color: $color-black;
        text-transform: uppercase;
        margin-bottom: 2rem;
        letter-spacing: -0.02em;
    }

    &__text--secondary {
        font-family: var(--font-main);
        font-size: 1.25rem;
        line-height: 1.3;
        color: $color-black;
        font-weight: 500;
        max-width: 900px;

        @media (min-width: 768px) {
            font-size: 1.75rem;
            line-height: 1.2;
        }
    }
}