// src/scss/06-components/_c-quote.scss
@use '../01-settings/variables' as *;
@use '../01-settings/colors' as *;

.c-quote {
    position: relative;
    padding: 1rem 0 2rem 2rem;
    border-left: 10px solid $color-red;

    @media (max-width: 768px) {
        padding-left: 1.5rem;
        border-left-width: 8px;
    }

    &__text--primary {
        font-family: var(--font-heading); // Usa Anton
        font-size: clamp(3rem, 10vw, 7rem);
        line-height: 0.8;
        color: $color-blue;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        letter-spacing: -0.03em;
        word-spacing: 0.1em;
    }

    &__text--secondary {
        display: block;
        font-family: var(--font-main);
        font-weight: 800;
        font-size: clamp(1.1rem, 2.5vw, 1.6rem);
        line-height: 1.2;
        color: $color-blue;
        text-transform: uppercase;
        max-width: 900px;
        border-top: 4px solid $color-blue;
        padding-top: 1.5rem;
        margin-top: 1rem;
    }
}