@use '../01-settings/variables' as *;
@use '../01-settings/colors' as *;

.c-stat {
    position: relative;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    margin-bottom: 2rem;

    // La linea verticale grigia deve essere sottile e discreta
    border-left: 2px solid #e0e0e0;

    &__number-small {
        display: block;
        font-size: 1.4rem;
        color: #b0b0b0;
        margin-bottom: 1.5rem;
        font-family: var(--font-base);
    }

    &__value {
        font-family: var(--font-heading);
        font-size: 4rem;
        line-height: 0.8;
        margin-bottom: 0.5rem;
        font-weight: 800;
    }

    &__label {
        font-size: 1rem;
        line-height: 1.2;
        max-width: 150px;
        color: #444;
    }
}